* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navigation {
    display: flex;
    /* border: 2px solid teal; */
    background-color: black;

    /* height: 50px; */
    /* margin-left: 50%; */
    justify-content: space-around;
    /* margin-left: 100px; */
    margin-bottom: 20px;

    /* margin-right: 100px; */
    /* flex-wrap: wrap; */
    /* border-radius: 8px; */
}

.navigation img {
    border-radius: 8px;
    width: 150px;
}

@media screen and (max-width:768px) {
    .navigation {
        flex-direction: column;


        align-items: center;
        margin-left: auto;
        margin-right: auto;

    }

}

.nav-item,
.h2:hover {
    /* padding-left: 50px; */
    /* border: 2px solid black; */
    /* padding-top: 20px; */
    /* justify-content: space-evenly; */
    /* margin-top: 25px; */

    background-color: yellowgreen;
    color: aliceblue;
    /* text-align: center; */
    text-decoration: none;
    width: fit-content;
    border-radius: 5px;
}


.animation {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-top: 30px;
}

#animate1 {
    /* border: 2px solid black; */

    border-radius: 8px;

    animation-name: animate1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 250px;

}

#animate-bg-color {
    width: 100px;
    height: 200px;
    border-radius: 10px;

    margin: 30px;
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-left: auto;
    margin-right: auto;
}

#animate2 {
    /* border: 2px solid black; */

    border-radius: 8px;

    animation-name: animate2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 250px;
}

@keyframes animate1 {
    0% {
        background-image: url('../image/marriagehall1.jpg');
        background-repeat: no-repeat;
        /* content: "Marriage Hall"; */
    }

    50% {
        background-image: url('../image/marriagehall2.jpg');
        background-repeat: no-repeat;
    }

    100% {
        background-image: url('../image/marriagehall3.jpg');
        background-repeat: no-repeat;
    }
}

@keyframes animate2 {
    0% {
        background-image: url('../image/cars1.jpg');
        background-repeat: no-repeat;
    }

    50% {
        background-image: url('../image/cars2.jpg');
        background-repeat: no-repeat;
    }

    100% {
        background-image: url('../image/cars3.jpg');
        background-repeat: no-repeat;
    }
}

@keyframes color {
    0% {
        background-color: #140a2f;

    }

    20% {
        background-color: aqua;
    }

    40% {
        background-color: blueviolet;
    }

    60% {
        background-color: yellowgreen;
    }

    80% {
        background-color: chartreuse;
    }

    100% {
        background-color: coral;
    }
}

@media screen and (max-width:1050px) {
    .animation {
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        /* border: 2px solid black; */



    }

    #animate-bg-color {
        margin: 30px;
        width: 300px;
        height: 100px;
    }
}



.style-section1 {
    display: flex;
    justify-content: space-around;

    /* box-shadow: -10px 0px 4px 4px #3C2A21; */
    margin-left: auto;
        margin-right: auto;


}

.style-section1-div {
    display: flex;

    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.style-section1-div1 {
    display: flex;

    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.style-section1 div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.style-section1 img {
    width: 200px;
    height: 180px;
    border-radius: 8px;
    margin: 20px;
}

.style-section1 img:hover {
    transform: scale(1.15, 1.15);
}

/* .section1-items {
    /* border: 2px solid black; 
    width: 210px;
    height: 250px;
    padding: 20px;
} */


#heading1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#heading1 {
    color: rgb(26, 18, 11);
    text-shadow: 2px 3px 4px aqua;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

}

#he1 {
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width:1025px) {
    .style-section1 {
        flex-direction: column;

        box-shadow: 0 0 0 0;
        /* align-items: center; */

        /* width: 500px; */
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

    }

    .style-section1-div {
        /* box-shadow: 10px 0 0 4px; */
        margin-left: auto;
        margin-right: auto;

    }





    #he1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }
}
@media screen and (max-width:500px) {
    .style-section1-div{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .style-section1-div1{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}

#heading4 {
    color: #65647C;
    text-shadow: 2px 3px 4px #b0bc2f;
   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#he4 {
    margin-left: auto;
    margin-right: auto;
   
}

.section4 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* box-shadow: -10px 0px 4px 4px #140a2f; */
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */

}

.section4-div {
    display: flex;
    justify-content: space-around;

    margin-top: 20px;
}

.section4-div1 {
    display: flex;
    justify-content: space-around;

    margin-top: 20px;
}

.section4 img {
    width: 220px;
    height: 180px;
    border-radius: 8px;
    margin: 10px;
}
.section4-items h5 {
    text-align: center;
    /* border: 2px solid black; */
    /* width: 200px; */
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1050px) {
    .section4 {
        flex-direction: column;

        box-shadow: 0 0 0 0;
        /* align-items: center; */

        /* width: 500px; */
        /* border: 2px solid black; */
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        margin-top: 50px;

    }

    .section4 img {
        width: 200px;
        height: 120px;
        border-radius: 8px;
        margin: 10px;
    }

    .section4-div {
        /* width: 500px; */
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }

    .section4-div1 {
        /* width: 500px; */
        margin-left: auto;
        margin-right: auto;
    }

    .section4-items h5 {
        text-align: center;
        /* border: 2px solid black; */
        /* width: 200px; */
        margin-left: auto;
        margin-right: auto;
    }

    #he4 {
        /* width: 500px; */
        text-align: center;
        /* border: 2px solid black; */
        margin-left: auto;
        margin-right: auto;

    }
}
@media screen and (max-width:500px) {
    .section4-div{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .section4-div1{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}


.style-footer {
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content: space-around;
    margin-top: 20px;
    /* border-radius: 8px; */
    margin-left: auto;
    margin-right: auto;




}

@media screen and (max-width:768px) {
    .style-footer {
        flex-direction: column;
        /* width: 500px; */
        /* text-align: left; */
        align-items: center;
        margin-left: auto;
        margin-right: auto;



    }

    .xyz {
        margin-left: auto;
        margin-right: auto;
    }

    /* div {
        /* padding-left: 0;
        margin-left: 0; */
    /* text-align: left; */
    /* }  */

}

ul {
    list-style: none;
    list-style-type: none;

}

.style-footer img {
    width: 100px;
    /* width: 100px; */
    height: 80px;
    padding: 1px;
    border-radius: 8px;
}