* {
    box-sizing: border-box;
}
body{
    margin: 0;
}

.div1 {
    display: flex;
    /* border: 2px solid teal; */
    background-color: black;

    /* height: 50px; */
    /* margin-left: 50%; */
    justify-content: space-around;
    /* margin-left: 100px; */
    margin-bottom: 20px;
    /* margin-top: 20px; */
    /* margin-right: 100px; */
    /* flex-wrap: wrap; */
    /* border-radius: 8px; */
    margin-left: auto;
    margin-right: auto;
}

.div1 img {
    border-radius: 8px;
    width: 150px;
}

@media screen and (max-width:768px) {
    .div1 {
        flex-direction: column;
       
       
        align-items: center;
        justify-content: space-around;
        
    }

}

.item123,
.h2:hover {
    /* padding-left: 50px; */
    /* border: 2px solid black; */
    /* padding-top: 20px; */
    /* justify-content: space-evenly; */
    /* margin-top: 25px; */

    /* background-color: yellowgreen; */
    color: aliceblue;
    /* text-align: center; */
    text-decoration: none;
    /* width: fit-content; */
    border-radius: 5px;
    justify-content: space-around;
}
.style-section1{
    display: flex;
    box-shadow: -10px 0 0 4px gray;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.style-section1-div {
    display: flex;
    border: 2px solid black;

    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    /* margin: 30px; */
    
}

.style-section1-div1 {
    display: flex;

    /* border: 2px solid black; */
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}



.style-section1 img {
    width: 220px;
    height: 180px;
    border-radius: 8px;
    margin: 10px;
}

.style-section1 img:hover {
    transform: scale(1.1, 1.1);
}



#heading1 {
    text-align: center;
}

#heading1 {
    color: #65647C;
    text-shadow: 2px 3px 4px #b0bc2f;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

}

#he1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid black; */
}
.style-section1 h5{
    text-align: center;
}

@media screen and (max-width:1250px) {
    .style-section1 {
        flex-direction: column;

        align-items: center;
        text-align: center;

        box-shadow: 0 0 0 0;
        /* border: 2px solid black; */
        margin-left: auto;
        margin-right: auto;

    }

    .style-section1-div {
        box-shadow: 8px 0 0 4px #3C2A21;
        margin-left: auto;
        margin-right: auto;

    }

    .style-section1-div1 {
        box-shadow: -10px 0 0 4px #3C2A21;
        margin-left: auto;
        margin-right: auto;
    }

    #he1 {

        margin-left: auto;
        margin-right: auto;
    }
    .style-section1 img {
        width: 170px;
        height: 150px;
        border-radius: 8px;
       margin: 10px;
    }
    




}
@media screen and (max-width:644px) {
    .style-section1 img {
        width: 100px;
        height: 100px;
        border-radius: 8px;
        margin: 10px;
       
    }
    .style-section1-div{
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }
    .style-section1-div1{
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.section2 {
    display: flex;

    text-align: center;
    /* border: 2px solid black; */

    justify-content: space-around;
    margin-left: auto;
        margin-right: auto;
}

.section2-div {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */

}

.section2-div1 {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */

}





.section2 img {
    width: 220px;
    height: 180px;
    border-radius: 8px;
    margin: 10px;
}

#heading2 {
    color: #65647C;
    text-shadow: 2px 3px 4px #b0bc2f;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}



@media screen and (max-width:1250px) {
    .section2 {
        flex-direction: column;

        align-items: center;
        text-align: center;

        box-shadow: 0 0 0 0;
        /* border: 2px solid black; */
        margin-left: auto;
        margin-right: auto;

    }

    .section2-div {
        /* flex-direction: column; */
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;

    }

    .section2-div1 {
        /* flex-direction: column; */
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;

    }

    #he2 {

        text-align: center;
        margin-left: auto;
        margin-right: auto;
        /* margin-left: 0; */
    }
    .section2 img {
        width: 190px;
        height: 150px;
        border-radius: 8px;
        margin: 5px;
    }
}

@media screen and (max-width:700px) {
    .section2 {
        flex-direction: column;

        align-items: center;
        text-align: center;

        box-shadow: 0 0 0 0;
        /* border: 2px solid black; */
        margin-left: auto;
        margin-right: auto;

    }

    .section2-div {
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

    }

    .section2-div1 {
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

    }

    #he2 {

        text-align: center;

    }
    .section2 img{
        margin-left: auto;
        margin-right: auto;
    }
    .section2-items{
        margin-left: auto;
        margin-right: auto;
        /* border: 2px solid black; */
    }
}


.section3 img {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 600px !important;
    height: 300px;
    align-items: center;
    margin-top: 20px;
}

.carousel-caption,
.d-none,
.d-md-block {
    padding-bottom: 5px;
}

#heading3 {
    color: #65647C;
    text-shadow: 2px 3px 4px #b0bc2f;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}



@media screen and (max-width:650px) {
    #id1 {
        width: 250px !important;
        height: 180px;

    }

    #id2 {
        width: 250px !important;
        height: 180px;

    }

    #id3 {
        width: 250px !important;
        height: 180px;

    }

    #id4 {
        width: 250px !important;
        height: 180px;

    }
}

#heading4 {
    color: #65647C;
    text-shadow: 2px 3px 4px #b0bc2f;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}



.section4 {
    display: flex;

    box-shadow: -10px 0px 4px 4px #3C2A21;
    margin-left: auto;
    margin-right: auto;
}

.section4-div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.section4-div1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.section4-items {


    padding: 10px;
    /* height: 150px; */
    /* border: 2px solid black; */
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    /* margin: 3px; */


}

.section4 img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

@media screen and (max-width:1250px) {
    .section4 {
        flex-direction: column;
        justify-content: space-around;

        margin-left: auto;
        margin-right: auto;
    }

    .section4-div {
        /* flex-direction: column; */
        margin-left: auto;
        margin-right: auto;
    }

    .section4-div1 {
        /* flex-direction: column; */
        margin-left: auto;
        margin-right: auto;
    }

    .section4 img {
        width: 200px;
        height: 150px;
        border-radius: 8px;
    }

}

@media screen and (max-width:700px) {
    .section4 {
        margin-left: auto;
        margin-right: auto;
    }

    .section4-div {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .section4-div1 {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }


}

@media screen and (max-width:400px) {
    .section4 img {
        width: 100px;
        height: 80px;
        border-radius: 8px;
    }
}

.style-footer {
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content: space-around;
    margin-top: 20px;





}

@media screen and (max-width:768px) {

    .style-footer {
        flex-direction: column;

        /* text-align: left; */
        margin-left: auto;
        margin-right: auto;
        align-items: center;

    }


}

ul {
    list-style: none;
    list-style-type: none;

}

.style-footer img {
    width: 100px;
    /* width: 100px; */
    height: 80px;
    padding: 1px;
    border-radius: 8px;
}